<app-default-login-layout
  title="Entrar na Conta"
  primaryBtnText="Login"
  secondaryBtnText="Criar Conta"
  (submit)="submit()"
  (navigate)="navigate()"

>
  <form [formGroup]="loginForm" class="login-form">
    
    <app-primary-input
      formControlName="email"
      label="E-mail"
      placeholder="exemplo@email.com"
      type="email"
    >
      @if (loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched) {
        <span class="error-msg">E-mail inválido</span>
      }
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      label="Senha"
      placeholder="Sua senha"
      type="password"
    >
      @if (loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched) {
        <span class="error-msg">A senha deve ter no mínimo 6 caracteres</span>
      }
    </app-primary-input>

  </form>
</app-default-login-layout>