
<!-- Restore -->
<div class="backup-container">
  <h2>Gerenciamento de Backup</h2>

  <div class="backup-card">
    <h4>Novo Backup</h4>
    <p>Gere um arquivo .sql com o estado atual do banco.</p>
    <button 
      class="backup-button"
      (click)="onBackup()" 
      [disabled]="carregando">
      {{ carregando ? 'Processando...' : 'Gerar Backup Agora' }}
    </button>
  </div>


  <!-- Restore -->
  <div class="restore-container">
    <h4>Restaurar Sistema</h4>
    <label for="backupSelect">Escolha um ponto de restauração:</label>
    
    <select 
      class="restore-card"
      id="backupSelect"
      [(ngModel)]="arquivoSelecionado">
      <option value="">-- Selecione um arquivo --</option>
      <option *ngFor="let arquivo of listaBackups" [value]="arquivo">
        {{ arquivo }}
        </option>
    </select>

    <button 
      class="restore-button"
      (click)="onRestore()" 
      [disabled]="carregando || !arquivoSelecionado">
      {{ carregando ? 'Restaurando...' : 'Executar Restore' }}
    </button>
  </div>

  <p class="restore-msg" *ngIf="mensagem">
    {{ mensagem }}
  </p>
</div>