<div class="container">
  <h2>Abrir Novo Chamado</h2>
  
  <form [formGroup]="calledForm" (ngSubmit)="onSubmit()">
    <div class="problema" style="margin-bottom: 15px;">
      <label>Título do Problema</label>
      <input class="input-select" type="text" formControlName="title">
    </div>

    <div style="margin-bottom: 15px;">
      <label>Descrição Detalhada</label>
      <textarea class="input-select" formControlName="description" rows="4"></textarea>
    </div>

    <div style="margin-bottom: 15px;">
      <label>Prioridade / Categoria</label>
      <select class="input-select" formControlName="category">
        <option value="LOW">Baixa (R$ 100,00)</option>
        <option value="MEDIA">Média (R$ 150,00)</option>
        <option value="HIGH">Alta (R$ 200,00)</option>
      </select>
    </div>

    <button class="submit-button" type="submit" [disabled]="calledForm.invalid || loading">
      {{ loading ? 'Enviando...' : 'Registrar Chamado' }}
    </button>
  </form>
</div>